{% import 'components/navbar.html' as navbar %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'head.html' %}
        {% block title %}{% endblock %}
    </head>
    <body class="bg-gray-200">
        {{ navbar.navbar(current_user) }}

        {% if csrf_token is defined %}
        <input type="hidden" id="csrf_token" value="{{ csrf_token() }}"/>
        {% endif %}

        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div id="modelConfirm" class="fixed z-50 inset-0 bg-gray-900 bg-opacity-60 overflow-y-auto h-full w-full px-4 ">
                        <div class="relative top-40 mx-auto shadow-xl rounded-md bg-white max-w-md">
                            <div class="flex justify-end p-2">
                                <button id="buttonClose" type="button"
                                    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center">
                                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </button>
                            </div>
                            <div class="p-6 pt-0 text-center">
                                {% if category == 'success' %}
                                <svg class="w-20 h-20 mx-auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                                    <path fill="#26a269" d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-111 111-47-47c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l64 64c9.4 9.4 24.6 9.4 33.9 0L369 209z"/>
                                </svg>
                                <h3 class="text-xl font-normal text-gray-500 mt-5 mb-6">{{ message }}</h3>
                                <a href="#" id="buttonOk"
                                    class="text-white bg-[#26a269] hover:bg-[#26a269] focus:ring-4 focus:ring-[#26a269] font-medium rounded-lg text-base inline-flex items-center px-3 py-2.5 text-center mr-2">
                                    OK
                                </a>
                                {% else %}
                                <svg class="w-20 h-20 text-red-600 mx-auto" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                                </svg>
                                <h3 class="text-xl font-normal text-gray-500 mt-5 mb-6">{{ message }}</h3>
                                <a href="#" id="buttonOk"
                                    class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-base inline-flex items-center px-3 py-2.5 text-center mr-2">
                                    OK
                                </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </body>
</html>
