{% extends 'base.html' %}
{% import 'components/buttons.html' as buttons %}
{% import 'components/navbar.html' as navbar %}

{% block title %}
<title>Homepage</title>
{% endblock %}
 <div class="banner">
      <img src="{{ url_for('static', filename='Banner.png')}}" alt="Banner Image" class="image">
  </div>

  <div class="rp1-section">
      <div class="rp1-content">
          <div class="rp1-text" id="rp1Text">
              <h2><strong>IL NOSTRO PROGETTO</strong></h2>
              <p>
                Un gestore online è una risorsa preziosa per organizzare e gestire le attività quotidiane in modo efficiente. Offre una piattaforma centralizzata dove è possibile archiviare informazioni importanti, pianificare progetti, assegnare compiti, collaborare con colleghi e tenere traccia dei progressi in tempo reale. Grazie alla sua accessibilità da qualsiasi dispositivo connesso a Internet, un bel gestore online permette agli individui e ai team di rimanere sincronizzati, migliorare la comunicazione e aumentare la produttività. Con funzionalità personalizzabili e intuitive, un gestore online può essere adattato alle esigenze specifiche di ogni utente, offrendo una soluzione flessibile e scalabile per migliorare l'efficienza e la gestione del tempo.</p>
          </div>
          <div class="rp1-image">
              <img src="{{ url_for('static', filename='stretta.jpg')}}" alt="RP1 Image">
          </div>
      </div>
  </div>

{% block title %}