{% extends 'base.html' %}

{% block title %}
  <title>Login</title>
{% endblock %}

{% block content %}  
  <div class="mx-auto overflow-hidden bg-gray-900">
    <div class="grid grid-cols-3">
      <div id="background-container" class="p-0 col-span-3 sm:col-span-2">
        <!-- parte sfondo -->
        <img id="background-image-1" src="{{ url_for('static', filename='images/image1.jpg') }}" alt="Background Image" class="w-full h-full object-cover opacity-100 transition-opacity duration-500">
        <img id="background-image-2" src="{{ url_for('static', filename='images/image2.jpg') }}" alt="Background Image" class="w-full h-full object-cover opacity-100 transition-opacity duration-500" hidden>
        <img id="background-image-3" src="{{ url_for('static', filename='images/image3.jpg') }}" alt="Background Image" class="w-full h-full object-cover opacity-100 transition-opacity duration-500" hidden>
      </div>
      <div class="bg-gray-200 p-0 col-span-3 sm:col-span-1">
        <!-- parte login -->
        <div class="flex justify-center items-center h-screen">
          <div class="w-full max-w-xs">
            <!-- card form -->
            <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-0" method="post" action="{{ url_for('api.login') if login else url_for('api.register') }}">

              <!-- username -->
              <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
                  Email
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="email" type="text" placeholder="Email" required>
              </div>

              <!-- password -->
              <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                  Password
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="password" type="password" placeholder="**********" minlength="8" required>
              </div>

              <!-- confirm password -->
              {% if not login %}
              <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                  Confirm password
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="password_confirm" type="password" placeholder="**********" minlength="8" required>
              </div>
              {% endif %}

              <div class="flex items-center justify-between mb-3">
                {% if csrf_token is defined %}
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                {% endif %}
                <!-- sign in button -->
                <button class="bg-green-800 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                  {% if login %}
                    Sign In
                  {% else %}
                    Sign Up
                  {% endif %}
                </button>
                <!-- forgot password -->
                <a class="inline-block align-baseline font-bold text-sm text-[#4D9DE0] hover:text-[#6EABDC]" href="#">
                  Forgot Password?
                </a>
              </div>
              
              {% if login %}
              <!-- create an account -->
              <div class="relative flex pt-5 items-center">
                <div class="flex-grow border-t border-green-800"></div>
                <a class="flex-shrink mx-4 text-[#4D9DE0] hover:text-[#6EABDC]" href="{{ url_for('main.register') }}">
                  Create an Account
                </a>
                <div class="flex-grow border-t border-[#4D9DE0]"></div>
              </div>
              {% endif %}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}