  /* Animazione di apertura del menu */
  @keyframes slideDown {
      from {
          max-height: 0;
          opacity: 0;
      }
      to {
          max-height: 500px; /* Altezza massima del menu mobile */
          opacity: 1;
      }
  }
  
  /* Animazione di chiusura del menu */
  @keyframes slideUp {
      from {
          max-height: 500px; /* Altezza massima del menu mobile */
          opacity: 1;
      }
      to {
          max-height: 0;
          opacity: 0;
      }
  }
  
  /* Stili per il menu mobile */
  .mobile-menu {
      animation: slideDown 0.3s forwards; /* Applica l'animazione di apertura */
  }
  
  .mobile-menu.hidden {
      animation: slideUp 0.3s forwards; /* Applica l'animazione di chiusura */
  }
.banner {
    width: 100%; /* Imposta la larghezza del banner al 100% del contenitore genitore */
}

.image {
    width: 100%; /* Fai sì che l'immagine riempia completamente il banner */
    height: auto; /* Mantieni l'aspetto proporzionale dell'immagine */
    display: block; /* Imposta l'immagine come blocco per evitare spazi aggiuntivi */
    padding-top: 50px;
}
.rp1-section {
    background-color: #f8f9fa;
    padding: 40px;
    border-radius: 10px;
    margin-top: 40px;
}

.rp1-content {
    display: flex;
    align-items: center;
}

.rp1-image {
    flex-shrink: 0;
    margin-right: 20px;
    max-width: 500px;
    padding-left: 10px;
}

.rp1-image img {
    max-width: 100%;
    height: auto;
}

.rp1-text {
    flex-grow: 1; /* Fai espandere il testo per riempire lo spazio rimanente */
}

.rp1-text h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.rp1-text p {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 20px;
}













@media (max-width: 992px) {
    .banner {
        width: 100%; /* Adjust width for smaller screens */
        max-width: none; /* Remove maximum width constraint */
        height: auto; /* Let the height be determined by the content */
    }

}
